nav {
    padding-top: 20px;
    padding-bottom: 10px;
}



main  {
    margin-top: 60px;
    padding-bottom: 20px;
}

.container#page {
    padding-top: 20px;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}



footer {
    padding-top: 20px;
    padding-bottom: 10px;
}

